@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation_type_time-line {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
