.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
/* Вопрос к код-ревью, если можно: при наведении курсора на контейнер с ссылкой "Купить книгу"
(а по брифу нарисован именно контейнер высотой с рисунок книги)
имеется возможность активировать ссылку в любом месте этого блока. Правильно ли это? В брифе не указана высота элемента __buy-link*/
.khan__buy-link:after {
  content: '\2192';
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear 0.2s;
}
